/* .login{
    height: auto;
    background-color:white;
    margin-top:5%;
    opacity: 0.4;
    height: 400px;
}

.logoimage{
    margin-top:10%;
}
.logindiv{
    margin-top: 72%;
    margin-bottom: 10%;
    position: absolute;
    z-index: 9999;
   
}
.logintext{
    color: gray;
    text-align: center
}
.forgetdiv{
    margin-bottom: 10%;
}
.maindiv{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}
.forgetpass{
    border: 0;
    border-radius: 0;
    margin-top: 10%;
}
.loginbutton{
    border: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.inputcol{
    border: 0;
    border-radius: 0;
    margin-top: 10%;
} */



        

.login2background{    
    
  }
  .loginbox{  
      background: #E8F5E9;
      color: black;    
      margin-top: 25%;
      left: 0;
      padding: 20px;   
      box-shadow: 0 8px 50px -2px #000;
      border-radius:5px;
  
  }
  .logo{
      width: 130px; 
      height: 55px;
      margin-left: 10%;
  }
  @media (max-width:767px) {
      .loginbox{ 
          margin-top: 10%;
      }    
  }
  
  .loginbox_content{
      padding:5% 11% 5% 11%;
  
  }
  
  .singtext{
      font-family: "Open Sans",sans-serif;
      font-size: 27px;  
      color: #1B5E20;;
      float: right;
      padding-right: 25%;
  }
  
  .submit-btn{
      float: right;
      margin-right: 28%;
      background-color: #66BB6A;
      color: white;
  }
  
  .forgotpassword{
      padding-left: 10%;
  }
  @media (max-width:800px) {
      .submit-btn{
          
          margin-right: 23%;
      }
  
     
  }