<!-- <div class="col-md-12 maindiv" appLogin>
  <div class="col-md-4">

  </div>
  <div class="col-md-4 ">
    <div class="col-md-12 logoimage">
      <div class="col-md-6 col-md-offset-3">
        <img src="../../assets/images/logo.jpg" alt="" width="200" height="200" class="img-responsive">
      </div>
    </div>
    <div class="col-md-12 logindiv">
      <div class="col-md-3 "></div>
      <div class="col-md-6   ">
        <form>
          <input type="text" placeholder="Email Or Mobile Number" class="form-control inputcol" required>
          <input type="text" placeholder="Password" class="form-control inputcol" required>
          <div class="col-md-12 forgetdiv">
            <p style="text-align:center">
              <a href="" class="forgetpass" (click)='onForget_password()' data-toggle="modal" data-target="#forgetModal">Forget Password</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-3 "></div>
    </div>
    <div class="col-md-12 login">
      <p style="text-align:center">
        <img src="../../assets/images/login.png" alt="" width="100" height="100" align="middle">
      </p>
    </div>
  </div>
</div> -->













<!-- <div class="b-container" appLogin>

  <div class="s-container">
    <div class="container-fluid">
      <form>
        <input type="text" placeholder="Email Or Mobile Number" class="form-control inputcol" required>
        <input type="text" placeholder="Password" class="form-control inputcol" required>
        <div class="col-md-12 forgetdiv">
          <p style="text-align:center">
            <a href="" class="forgetpass" (click)='onForget_password()' routerLink="/reset">Forget Password</a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <div class="l-container">

  </div>
</div> -->





<!-- <div class="modal-dialog" appLogin style="margin-top:15% ">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="text-center">Welcome</h1>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Username" />
      </div>

      <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Password" />
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login" />
        <span>
          <p style="text-align: center">
            <a href="#">Forgot Password</a>
          </p>
        </span>
      </div>
    </div>
  </div>
</div> -->


<div class="container" appLogin>
  <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-sm-offset-3  loginbox">
    <form #loginForm="ngForm" ngNativeValidate>
      <div class=" row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
          <img src="../../assets/images/logo_3.png" alt="Logo" class="logo">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
          <span class="singtext">Sign in </span>
        </div>
      </div>
      <div class=" row loginbox_content ">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input class="form-control" type="text" name='username' placeholder="User Name Or Mail Id Or Mobile Number" required autofocus
            [(ngModel)]='username'>
        </div>
        <br>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input class="form-control" type="password" name='password' placeholder="Password" required [(ngModel)]='password'>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword ">
          <a href="#" routerLink="/reset" style="color: #1B5E20;"> Forgot Username / Password?</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
          <button class=" btn  submit-btn" routerLink="/dashboard">
            Login
            <span class="glyphicon glyphicon-log-in"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-4 "></div>
</div>